<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" content="width=device-width,initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-datetimepicker.min.css}">
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://at.alicdn.com/t/font_1532814_9s7gbl6whz.css" rel="stylesheet">
    <title></title>
    <style>
        .iconfont{
            font-size: 28px;
        }
        .iconli{
            margin-right: -15px;
            margin-top: 5px;
        }
        p{
            color: red;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="container">
    <!--<div class="page-header">
        <h2>会议管理系统</h2>
    </div>-->
    <nav class="navbar navbar-default" role="navigation" th:fragment="header">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">会议管理系统</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="iconli"><i class="iconfont icon-denglu1"></i></li>
                    <li><!--/*@thymesVar id="loginUser" type="java.lang.String"*/-->
                        <!--<span th:text="${session.loginUser}">用户</span>-->

                        <a th:text="${session.loginUser}">用户</a>

                    </li>
                    <li><a th:href="@{/}">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#new">创建新会议</a></li>
        <li><a data-toggle="tab" href="#established" onclick="show()">已创建的会议</a></li>
        <li><a data-toggle="tab" href="#joining">参加新会议</a></li>
        <li><a data-toggle="tab" href="#joined" onclick="showJoined()">已参加的会议</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="new" name="create">
            <form class="form-horizontal" method="post" role="form" th:action="@{/user/operate1}">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">会议名称</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="name" name="name" type="text" autocomplete="off"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label " for="beginTime">会议开始时间</label>
                    <div class="col-sm-6">
                        <input class="form-control form_datetime" id="beginTime" name="beginTime" type="text" autocomplete="off"/>
                        <span class="input-group-addon" id="Span2"><span aria-hidden="true"
                                                                         class="glyphicon glyphicon-time"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label " for="endTime">会议结束时间</label>
                    <div class="col-sm-6">
                        <input class="form-control form_datetime" id="endTime" name="endTime" type="text" autocomplete="off"/>
                        <span class="input-group-addon" id="Span3"><span aria-hidden="true"
                                                                         class="glyphicon glyphicon-time"></span></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="place">会议地点</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="place" name="place" type="text" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="people">与会人物</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="people" name="participants" type="text" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="hotel">宾馆地点</label>
                    <div class="col-sm-6">
                        <input class="form-control" id="hotel" name="hotel" type="text" autocomplete="off"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">参会人员须填项</label>
                    <div class="col-sm-6">
                        <label class="checkbox-inline">
                            <input id="box1" name="items" type="checkbox" value="name"/>姓名
                        </label>
                        <label class="checkbox-inline">
                            <input id="box2" name="items" type="checkbox" value="workplace"/>工作单位
                        </label>
                        <label class="checkbox-inline">
                            <input id="box3" name="items" type="checkbox" value="id"/>身份证号
                        </label>
                        <label class="checkbox-inline">
                            <input id="box4" name="items" type="checkbox" value="tel"/>电话号码
                        </label>
                        <label class="checkbox-inline">
                            <input id="box5" name="items" type="checkbox" value="time"/>参会时间
                        </label>
                        <label class="checkbox-inline">
                            <input id="box6" name="items" type="checkbox" value="house"/>房间安排需求
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 ">
                        <button class="btn btn-default" type="submit">提交
                        </button>
                    </div>
                </div>
            </form>




        </div>
        <div class="tab-pane fade" id="established">
            <div id="recordDiv" th:fragment="recordDiv">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>会议号</th>
                        <th>会议名称</th>
                        <th>会议开始时间</th>
                        <th>会议结束时间</th>
                        <th>会议地点</th>
                        <th>参会人物</th>
                        <th>宾馆</th>
                        <th>详情</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!--/*@thymesVar id="records" type="com.learning.cmsdemo.model.ConferenceRecord"*/-->
                    <tr th:each="i:${records}">
                        <td th:text="${i.getConferenceID()}"></td>
                        <td th:text="${i.getName()}"></td>
                        <td th:text="${i.getBeginTime()}"></td>
                        <td th:text="${i.getEndTime()}"></td>
                        <td th:text="${i.getPlace()}"></td>
                        <td th:text="${i.getParticipants()}"></td>
                        <td th:text="${i.getHotel()}"></td>
                        <td><a th:href="@{'/lookFor/'+${i.getConferenceID()}}">点此查看</a></td>
                    </tr>

                    </tbody>
                </table>
                <p style="color: red" th:text="${recordMSG}" th:if="${not #strings.isEmpty(recordMSG)}"></p>
            </div>
            <!--<button>导出报表</button>-->
        </div>
        <div class="tab-pane fade" id="joining">
            <div class="col-lg-6">
                <div class="input-group">

                    <span class="input-group-addon">输入会议名称</span>
                    <input class="form-control" id="attendeeSearch" name="attendeeSearch" type="text" autocomplete="off"/>
                    <div class="input-group-btn">
                        <button class="btn btn-default" onclick="search()" type="submit">搜索</button>
                    </div>


                </div>


            </div>

            <div id="forAttendee" th:fragment="forAttendee">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>会议号</th>
                        <th>会议名称</th>
                        <th>会议开始时间</th>
                        <th>会议结束时间</th>
                        <th>会议地点</th>
                        <th>参会人物</th>
                        <th>宾馆</th>
                        <th>报名参加</th>
                    </tr>
                    </thead>

                    <tbody>

                    <tr th:each="i:${search}">
                        <td id="joinID" name="joinID" th:text="${i.getConferenceID()}"></td>
                        <td th:text="${i.getName()}"></td>
                        <td th:text="${i.getBeginTime()}"></td>
                        <td th:text="${i.getEndTime()}"></td>
                        <td th:text="${i.getPlace()}"></td>
                        <td th:text="${i.getParticipants()}"></td>
                        <td th:text="${i.getHotel()}"></td>
                        <td><a data-target="#myModal" data-toggle="modal" onclick="showTable()" >点此报名参加</a>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <p th:text="${selectMSG}" th:if="${not #strings.isEmpty(selectMSG)}"></p>

                <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog"
                     tabindex="-1">
                    <div class="modal-dialog" th:fragment="myModal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="modal-body">

                                        <div th:each="k:${joinTable}">
                                            <form class="form-horizontal" role="form" th:action="@{'/joinSubmit/'+${k.getConferenceID()}+'/'+${k.getName()}}" method="get">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">会议号</label>
                                                        <span class="col-sm-6" th:text="${k.getConferenceID()}"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">会议名称</label>
                                                    <span class="col-sm-6" th:text="${k.getName()}"></span>

                                                </div>
                                                <div class="form-group" th:hidden="false" th:if="${#strings.contains(k.getItems(),'name')}">
                                                    <label class="col-sm-2 control-label" for="attendeeName">姓名</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" id="attendeeName" name="attendeeName" type="text" autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="form-group" th:hidden="false"
                                                     th:if="${#strings.contains(k.getItems(),'workplace')}">
                                                    <label class="col-sm-2 control-label"
                                                           for="attendeeWorkplace">工作单位</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" id="attendeeWorkplace"
                                                               name="attendeeWorkplace"
                                                               type="text" autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="form-group" th:hidden="false"
                                                     th:if="${#strings.contains(k.getItems(),'id')}">
                                                    <label class="col-sm-2 control-label" for="attendeeID">身份证号</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" id="attendeeID" name="attendeeID"
                                                               type="text" autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="form-group" th:hidden="false"
                                                     th:if="${#strings.contains(k.getItems(),'tel')}">
                                                    <label class="col-sm-2 control-label" for="attendeeTel">电话号码</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" id="attendeeTel" name="attendeeTel"
                                                               type="text" autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="form-group" th:hidden="false"
                                                     th:if="${#strings.contains(k.getItems(),'time')}">
                                                    <label class="col-sm-2 control-label"
                                                           for="attendanceTime">参会时间</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" id="attendanceTime" name="attendanceTime" type="text" autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <div class="form-group" th:hidden="false"
                                                     th:if="${#strings.contains(k.getItems(),'house')}">
                                                    <label class="col-sm-2 control-label" for="isHouse">是否需要安排房间</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" id="isHouse" name="isHouse"
                                                               type="text" autocomplete="off"/>
                                                    </div>
                                                </div>
                                                <p style="color: red" th:text="${submitMSG}" th:if="${not #strings.isEmpty(submitMSG)}"></p>
                                                <button style="margin-left: 150px" class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                                                <button class="btn btn-primary" type="submit">提交</button>
                                            </form>


                                    </div>


                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>


            </div>


        </div>
        <div class="tab-pane fade" id="joined">
           <!-- <div th:fragment="joinedDiv" id="joinedDiv">
            </div>-->
            <div id="joinedDiv" th:fragment="joinedDiv">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>会议号</th>
                        <th>会议名称</th>
                        <th>会议开始时间</th>
                        <th>会议结束时间</th>
                    </tr>
                    </thead>

                    <tbody>
                    <div th:each="k:${joined}">


                    <tr th:each="i:${k}">
                        <td th:text="${i.getConferenceID()}"></td>
                        <td th:text="${i.getName()}"></td>
                        <td th:text="${i.getBeginTime()}"></td>
                        <td th:text="${i.getEndTime()}"></td>
                    </tr>
            </div>
                    </tbody>
                </table>
                <p style="color: red" th:text="${joinedMSG}" th:if="${not #strings.isEmpty(joinedMSG)}"></p>

        </div>
        </div>
    </div>

</div>
<script th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/static/js/bootstrap-datetimepicker.zh-CN.js}"></script>
<script>
    $('.form_datetime').datetimepicker({
        format: 'yyyy-mm-dd hh:ii:00',
        autoclose: true,
        language: 'zh-CN',
        dateFormat: 'yyyy-mm-dd',//日期显示格式
        timeFormat: 'HH:mm:ss',//时间显示格式
        todayBtn: 1,
        autoclose: 1,
        minView: 0,  //0表示可以选择小时、分钟   1只可以选择小时
        minuteStep: 1,//分钟间隔1分钟
        startDate: new Date()
    });
</script>
<script>
    function show() {
        var url = '/showRecord';
        $('#recordDiv').load(url);
    }

</script>
<script>
    function search() {
        var $conferenceName = $('#attendeeSearch').val();
        var url = '/attendeeSelect/' + $conferenceName;
        console.log($conferenceName);
        $('#forAttendee').load(url);

    }
</script>
<script>
    function showTable() {
        /* var $joinID = document.getElementById("joinID");*/
        var $joinID = $('#joinID').text();
        console.log($joinID);
        var url = '/join/' + $joinID;

        $('#myModal').load(url);

    }
</script>
<script>
    function showJoined() {
        var url='showJoined';
        $('#joinedDiv').load(url);
    }
</script>
</body>
</html>
